html{
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
  border: 1rem;
  background-color: #252323;
}

header h1{
	width: 31%;
	font-size: 32px;
	color: #fffdac;
	background-color: #be0627;
  text-decoration: none;
	padding: 15px 4px;
	margin: 0;
	margin-bottom: 30px;
	margin-left: 35%;
	border-radius: 100px;
}
.TopNav{
  display: inline-block;
  height: auto;
  width: 600px;
  position: absolute;
  top: 1;
  left: 20%;
  background-color: #be0627;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
ul{
  list-style-type: none;
	padding: 0;
	margin:0;
}
.TopNav li{
  display: inline-block;
  margin:0 1%;
  background-color: #be0627;
}
.TopNav a{
	font-size: 20px;
  color: #fffdac;
  text-decoration: none;
	padding: 15px 5px;
	display:inline-block;
	margin:0;
}
.TopNav a:hover {
  color: #be0627;
	background-color: #fffdac;
}
.LeftNav{
  display: block;
  width: 13%;
  position: absolute;
  left: 1%;
  margin-top: 110px;
  background-color: #be0627;
  border-radius: 25px;
}
.LeftNav a{
	font-size: 16px;
  color: #fffdac;
  text-decoration: none;
	padding: 15px 20px;
	display:inline-block;
	margin:3px;
}
.LeftNav a:hover {
  color: #be0627;
	background-color: #fffdac;
}
.RightNav{
  display: block;
  width: 13%;
  position: absolute;
  left: 85%;
  margin-top: 110px;
  background-color: #be0627;
  border-radius: 25px;
}
.RightNav a{
	font-size: 16px;
  color: #fffdac;
  text-decoration: none;
	padding: 15px 20px;
	display:inline-block;
	margin:3px;
}
.RightNav a:hover {
  color: #be0627;
	background-color: #fffdac;
}
#top{
  font-size: 22px;
  padding-top: 5px;
  border-bottom: dashed 3px #252323;
}
#logo{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 550px;
}
#page{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 125px;
  max-width: 100%;
  height: 330px;
}
.content{
  margin-top: 10%;
  margin-left: 10%;
  width: 80%;
  background-color: #ffffff;
  text-align: justify;
}
.content ul{
  margin-top: 0;
  text-indent: 1em;
}

#home{
  height: 550px;
  text-align: center;
}
#product{
  margin-left: 15%;
  width: 70%;
  height: 500px;
}
#us{
  margin-left: 17.5%;
  width: 65%;
  height: 350px;
}
#in{
  margin-left: 20%;
  width: 60%;
  height: 330px;
}
.Switch{
  height: 40px;
  width: 60px;
  margin-top: 425px;
  font-size: 1.5em;
}
#leftSwitch{
  margin-right: 1%;
}
#rightSwitch{
  margin-right: 40px;
}
footer{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #be0627;
}
footer li{
  display: inline-block;
}
footer a{
  color: #fffdac;
  text-decoration: none;
}
footer button{
  margin-left: auto;
  margin-right: auto;
}
p{
  color: #000000;
  margin: 6px;
}
a{
  color: #fffdac;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 2%;
    border: 1px solid #888;
    width: 60%;
}
.close{
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
